.container {
    background-color: var(--background);
    color: var(--dark-grey);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
  }


.user-controls {
    padding: 1rem;
}

.user {
    background-color: var(--light-grey);
    border-radius: 50%;
    color: var(--grey);
    padding: 0.5rem;
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

.user-fullname {
    padding-left: 1rem;
}

.user-logout {
    border: none;
    background-color: var(--background);
    appearance: none;
    background: right center url('/public/img/arrow-dark.png') no-repeat;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    color: var(--dark-grey);
}

.dashboard-controls {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.arrow.classes {
    background: center url('/public/img/arrow-dark.png') no-repeat;
    width: 1rem;
    height: 0.8rem;
    display: inline-block;
}

.tabs, 
.rows {
    width: 2rem;
    height: 1rem;
    display: inline-block;
}

.tabs {
    background: left url('/public/img/tabs-light.png') no-repeat;
    
}
.tabs.active {
    background: left url('/public/img/tabs-dark.png') no-repeat;
}

.rows {
    background: left url('/public/img/rows-light.png') no-repeat;
}

.rows.active {
    background: left url('/public/img/rows-dark.png') no-repeat;
}

.class-box {
    background-color: var(--white);
    margin: 1rem;
    padding: 1rem;
    color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.class-box h2 {
    color: var(--dark-grey);
}

.class-box h3 {
    padding-bottom: 2rem;
}

.class-box h3, .class-box h2 {
    font-weight: 400;
}

.description {
    padding-bottom: 1rem;
}

.class-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class-controls img {
    display: inline-block;
    padding-right: 0.5rem;
}

.plus {
    background-color: var(--dark-grey);
    color: var(--white);
    font-size: 1.5rem;
    padding: 1rem;
    width: 3.5rem;
    border: none;
    border-radius: 50%;
    box-shadow: 3px 3px 5px var(--grey);
    display: block;
    margin: 0 1rem 1rem auto;

}
/* display rows on desktop*/
.row.class-list {
    flex-direction: column;
}
.row.class-box {
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.row.class-box .description{
    padding: 0;
}

.row.class-numbers {
    display: flex;
}
.row.class-numbers span {
    padding: 0 1rem 0 2rem;
}

.dashboard-controls span {
    padding-right: 1rem;
    font-weight: 700;
    font-size: 0.8rem;
    color: var(--grey);
    cursor: pointer;
}

.dashboard-controls .active {
    color: var(--dark-grey);
}

.dashboard-show select {
    border: none;
    background-color: var(--background);
    appearance: none;
    background: right center url('/public/img/arrow-dark.png') no-repeat;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    color: var(--dark-grey);
}

@media (max-width: 599px) {
    .dashboard-show.desktop {
        display: none;
    }
    .user-fullname {
        display: none;
    }
}

@media (min-width: 600px) and  (max-width: 899px) {
    .class-box {
        font-size: smaller;
    }
    .button {
        padding: 0.5rem 2rem;
    }
}

@media (min-width: 600px) {
    .class.container {
        flex-direction: column;
    }
    .class-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1rem;
    }
    .class-box {
        width: calc(50% - 1rem);
    }
    .arrow.classes {
        display: none;
    }
    
    header .dashboard-show {
        padding: 0 0.5rem 0;
        color: var(--grey);
    }
    .dashboard-controls, 
    .class-list {
        padding: 1rem 5rem 0;
    }

    .class-box {
        margin: 0;
    }
    .dashboard-show.mobile {
        display: none;
    }
}

@media (min-width: 1100px) {
    .class-box {
        width: calc(33% - 2rem);
    }
}